In [37]:
import pandas as pd

In [38]:
df_matches = pd.read_excel("../../../data/matches.xlsx")
df_teams = pd.read_excel("../../../data/team.xlsx")

In [39]:
display(df_matches.head(3))
display(df_teams.head(3))

,id,id_team_home,id_team_away,id_tournament,id_season,rodada,status,referee_id,manager_home_id,manager_away_id,date,hour,day_of_week,city,stadium,home_goals,away_goals,dt_insertion
0,12116983,1984,1980,325,58766,1,finished,788853.0,791416.0,784982.0,2024-04-13,18:30,Saturday,Criciúma,Estádio Heriberto Hülse,1.0,1.0,2024-07-19 16:04:58
1,12116974,1966,1955,325,58766,1,finished,788693.0,803399.0,787735.0,2024-04-13,18:30,Saturday,Porto Alegre,Estádio Beira-Rio,2.0,1.0,2024-07-19 16:04:58
2,12116977,1961,1999,325,58766,1,finished,788405.0,108391.0,125341.0,2024-04-13,21:00,Saturday,Rio de Janeiro,Estádio do Maracanã,2.0,2.0,2024-07-19 16:04:58

,id,name,id_tournament,id_season,image,dt_insertion
0,49202,Cuiabá,325,58766,b'\x89PNG\r\n\x1a\n\x00\x00\x00\rIHDR\x00\x00\...,2024-07-19 16:04:49
1,1963,Palmeiras,325,58766,b'\x89PNG\r\n\x1a\n\x00\x00\x00\rIHDR\x00\x00\...,2024-07-19 16:04:49
2,1981,São Paulo,325,58766,b'\x89PNG\r\n\x1a\n\x00\x00\x00\rIHDR\x00\x00\...,2024-07-19 16:04:50

In [40]:
df_matches = df_matches[["id_team_home", "id_team_away", "rodada", "date", "hour", "day_of_week", "city", "stadium"]]
df_teams = df_teams[["id", "name"]]

In [41]:
df = pd.merge(df_matches, df_teams, how="left",  left_on='id_team_home', right_on='id').drop(columns="id").rename(columns={"name":"name_team_home"})
df = df[["id_team_home", "name_team_home", "id_team_away", "rodada", "date", "hour", "day_of_week", "city", "stadium"]]

df = pd.merge(df, df_teams, how="left",  left_on='id_team_away', right_on='id', suffixes=("", "_team_away")).drop(columns="id").rename(columns={"name":"name_team_away"})
df = df[["id_team_home", "name_team_home", "name_team_away", "rodada", "date", "hour", "day_of_week", "city", "stadium"]]

In [42]:
df.head()

,id_team_home,name_team_home,name_team_away,rodada,date,hour,day_of_week,city,stadium
0,1984,Criciúma,Juventude,1,2024-04-13,18:30,Saturday,Criciúma,Estádio Heriberto Hülse
1,1966,Sport Club Internacional,Bahia,1,2024-04-13,18:30,Saturday,Porto Alegre,Estádio Beira-Rio
2,1961,Fluminense,Red Bull Bragantino,1,2024-04-13,21:00,Saturday,Rio de Janeiro,Estádio do Maracanã
3,1981,São Paulo,Fortaleza,1,2024-04-13,21:00,Saturday,São Paulo,Estádio Cícero Pompeu de Toledo
4,1967,Athletico,Cuiabá,1,2024-04-14,16:00,Sunday,Curitiba,Ligga Arena

In [43]:
df.to_csv("../data/processed/matches.csv", index=False)